#main-page {

    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
   
}

header {
    
    text-align: center;


}

.title {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.box {
    border: 1px solid black;
  
}


   


  


#main-page>span{
    display: inline-block;
    align-items: center; 
}